<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration>  
	<appender name="CONSOLE_LOG" class="org.apache.log4j.ConsoleAppender">  
		<layout class="org.apache.log4j.PatternLayout">  
			<param name="ConversionPattern" value="%d{yy/MM/dd HH:mm:ss.SSS} %p %C %L: %m%n" />  
  		</layout>  
	</appender>  
   
	<appender name="FILE_LOG" class="org.apache.log4j.RollingFileAppender">  
		<param name="File" value="log/weibo.log"/>
		<param name="Append" value="false"/>
		<param name="MaxFileSize" value="10240KB"/>
		<param name="MaxBackupIndex" value="20"/>
		<layout class="org.apache.log4j.PatternLayout">  
			<param name="ConversionPattern" value="%d{yy/MM/dd HH:mm:ss.SSS} %p %C %L: %m%n" />  
  		</layout>  
	</appender>  
	
	<!-- category 部分定义了特定包或者类的输出级别和方式，可以有多个 -->
	<category name="httpclient.wire.header">
	   <priority value="ERROR" />
	</category>
	
	<category name="org.cbapple.weibo.page">
	   <priority value="debug" />
	</category>
  
	<root>  
		<priority value="info" />  
		<appender-ref ref="CONSOLE_LOG" />  
		<appender-ref ref="FILE_LOG" />
	</root>  
</log4j:configuration> 